<md-nav-list>
	<!-- Logo that links to home -->
	<div class="nav-header">
		<a md-list-item routerLink="/" class="logo"><img src="/assets/logo.svg"></a>
	</div>
	<md-divider></md-divider>
	
	<!-- Menu items for guests only -->
	<div *ngIf="!authenticationService.loggedIn()">
		<a md-list-item routerLink="/login">Login</a>
	</div>
	
	<!-- Menu items for users only -->
	<div *ngIf="authenticationService.loggedIn()">
		<a md-list-item routerLink="/map">Landkaart</a>
		<a md-list-item routerLink="/data">Algemene data</a>
		<a md-list-item routerLink="/sample/upload">Uploaden monster</a>
		<md-divider></md-divider>
		<a md-list-item routerLink="/account">Account aanpassen</a>
	</div>
	
	<!-- Menu items for admins only -->
	<div *ngIf="authenticationService.isAdmin()">
		<md-divider></md-divider>
		<a md-list-item routerLink="/wew/upload">WEW-lijst importeren</a>
		<a md-list-item routerLink="/taxon/import">Taxon-lijst importeren</a>
		<a md-list-item routerLink="/taxon/group">Taxongroepen beheren</a>
		<md-divider></md-divider>
		<a md-list-item routerLink="/admin/create-account">Accounts beheren</a>
	</div>
</md-nav-list>
