:host >>> .tooltip-title{
	margin:5px 0;
	font-weight:bold;
	font-size:120%;
}

:host >>> .tooltip-table{
	border-collapse:collapse;
}

:host >>> .tooltip-table td{
	padding:3px 5px;
	border:1px white;
	border-style:solid none;
}
