<span class="expBtn" [ngStyle]="{'padding-top':((taxon.parentObject&&taxon.parentObject.children.length>1)||depth<3)?'6px':'0'}">
	<span *ngIf="taxon.children && taxon.children.length" (click)="taxon.expanded = !taxon.expanded">[{{taxon.expanded?'-':'+'}}]</span>
</span>
<b><span *ngIf="taxon.isRefer">⤷ Referred to by: </span>{{taxon.taxonname}}</b> (<i>{{taxon.taxonlevel}}</i>, {{taxon.nlGroup}})

<ul *ngIf="taxon.expanded">
	<li *ngFor="let child of taxon.children">
		<app-species-import-tree [taxon]="child" [depth]="depth+1"></app-species-import-tree>
	</li>
</ul>
