<md-card>
    <md-card-title>Wateren</md-card-title>
    <md-card-content>
        <ngx-datatable
                class="material"
                [rows]="locationRows"
                [columns]="locationColumns"
                [columnMode]="'force'"
                [headerHeight]="50"
                [footerHeight]="50"
                [rowHeight]="'auto'"
                [limit]="10"
                [selected]="selected"
                [selectionType]="'single'"
                (activate)="onActivate($event)"
                (select)='onSelect($event)'>
        </ngx-datatable>
    </md-card-content>
</md-card>

<md-card>
    <md-card-title>Waterschappen</md-card-title>
    <md-card-content>
        <ngx-datatable
                class="material"
                [rows]="waterschapRows"
                [columns]="waterschapColumns"
                [columnMode]="'force'"
                [headerHeight]="50"
                [footerHeight]="50"
                [rowHeight]="'auto'"
                [limit]="10">
        </ngx-datatable>
    </md-card-content>
</md-card>

<md-card>
    <md-card-title>Taxa</md-card-title>
    <md-card-content>
        <ngx-datatable
                class="material"
                [rows]="taxonRows"
                [columns]="taxonColumns"
                [columnMode]="'force'"
                [headerHeight]="50"
                [footerHeight]="50"
                [rowHeight]="'auto'"
                [limit]="10">
        </ngx-datatable>
    </md-card-content>
</md-card>
