<md-card>
    <md-card-title>Algemene data</md-card-title>
    <md-input-container class="full-width">
        <input mdInput placeholder="Filter op data" (keyup)='updateFilter($event)'>
    </md-input-container>
    <md-card-content>
        <ngx-datatable
                class="material"
                [rows]="locationRows"
                [columns]="locationColumns"
                [columnMode]="'force'"
                [headerHeight]="50"
                [footerHeight]="50"
                [rowHeight]="'auto'"
                [limit]="10">
        </ngx-datatable>
            <ng-template #waterCodeTemplate let-row="row">
                {{row.code}}
            </ng-template>
            <ng-template #waterDescriptionTemplate let-row="row">
                {{row.description}}
            </ng-template>
            <ng-template #waterDetailsTemplate let-row="row">
                <a [routerLink]="'../results/water/'+row.id" md-raised-button>Details</a>
            </ng-template>
    </md-card-content>
</md-card>
<md-card>
    <md-card-title>Waterschappen</md-card-title>
    <md-card-content>
        <ngx-datatable
                class="material"
                [rows]="waterschapRows"
                [columns]="waterschapColumns"
                [columnMode]="'force'"
                [headerHeight]="50"
                [footerHeight]="50"
                [rowHeight]="'auto'"
                [limit]="10">
        </ngx-datatable>
    </md-card-content>
</md-card>
<md-card>
    <md-card-title>Taxa</md-card-title>
    <md-card-content>
        <ngx-datatable
                class="material taxon-table"
                [rows]="taxonRows"
                [columns]="taxonColumns"
                [columnMode]="'force'"
                [headerHeight]="50"
                [footerHeight]="50"
                [rowHeight]="'auto'"
                [limit]="10">
        </ngx-datatable>
		<ng-template #taxonNameTemplate let-row="row">
			<a class="taxon-link" [routerLink]="'/taxon/view/'+row.id">
				<span class="taxon-icon-container">
					<md-icon *ngIf="row.group && row.group.icon" class="taxon-icon" fontSet="fi" [fontIcon]="'flaticon-'+row.group.icon"></md-icon>
				</span>
				{{row.name}}
			</a>
		</ng-template>
    </md-card-content>
</md-card>
