<md-card>
    <md-card-title>Algemene data</md-card-title>
    <md-input-container class="full-width">
        <input mdInput placeholder="Filter op data" (keyup)='updateFilter($event)'>
    </md-input-container>
    <md-card-content>
        <ngx-datatable
                class="material"
                [rows]="locationRows"
                [columnMode]="'force'"
                [headerHeight]="50"
                [footerHeight]="50"
                [rowHeight]="'auto'"
                [limit]="10">

            <ngx-datatable-column name="Mp" width="20">
                <ng-template let-value="String" ngx-datatable-cell-template>
                    {{locations.code}}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Naam" width="20">
                <ng-template let-value="String" ngx-datatable-cell-template>
                    {{locations.description}}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="Haal Samples op" width="20">
                <ng-template ngx-datatable-cell-template>
                    <button class="button" type="submit" md-raised-button
                            (click)="onSelect(location.id)">details</button>
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </md-card-content>
</md-card>
<md-card>
    <md-card-title>Waterschappen</md-card-title>
    <md-card-content>
        <ngx-datatable
                class="material"
                [rows]="waterschapRows"
                [columns]="waterschapColumns"
                [columnMode]="'force'"
                [headerHeight]="50"
                [footerHeight]="50"
                [rowHeight]="'auto'"
                [limit]="10">
        </ngx-datatable>
    </md-card-content>
</md-card>
<md-card>
    <md-card-title>Taxa</md-card-title>
    <md-card-content>
        <ngx-datatable
                class="material"
                [rows]="taxonRows"
                [columns]="taxonColumns"
                [columnMode]="'force'"
                [headerHeight]="50"
                [footerHeight]="50"
                [rowHeight]="'auto'"
                [limit]="10">
        </ngx-datatable>
    </md-card-content>
</md-card>
