<div class="group editing">
	<md-card>
		<md-card-header>
			<div md-card-avatar>
				<md-icon *ngIf="group.icon" class="taxon-icon" fontSet="fi"
						[fontIcon]="'flaticon-'+group.icon"></md-icon>
				<span *ngIf="!group.icon" class="taxon-icon">?</span>
			</div>
			<md-card-title>{{group.code}}</md-card-title>
		</md-card-header>
		<md-card-content>
			<div>
				<div class="edit-label">Icoon</div>
				<md-select [(ngModel)]="group.icon">
					<md-option *ngFor="let icon of parent.icons" [value]="icon">
						<span *ngIf="!icon">?</span>
						<md-icon *ngIf="icon" fontSet="fi" [fontIcon]="'flaticon-'+icon"></md-icon>
						{{icon}}
					</md-option>
				</md-select>
			</div>
			<div>
				<div class="edit-label">Beschrijving</div>
				<md-input-container class="groupDescription">
					<input mdInput [(ngModel)]="group.description"/>
				</md-input-container>
			</div>
		</md-card-content>
		<md-card-actions>
			<button md-button md-dialog-close>
				<md-icon>close</md-icon>
			</button>
			<button md-button md-dialog-close (click)="save()">
				<md-icon>check</md-icon>
			</button>
		</md-card-actions>
	</md-card>
</div>
