<div class="container">
  <h1>Maak een nieuwe gebruiker aan</h1>
  <form>
    <p>
      <md-input-container class="full-width">
        <input mdInput placeholder="Gebruikersnaam">
      </md-input-container>

      <md-input-container class="full-width">
        <input mdInput placeholder="E-mail">
      </md-input-container>

      <md-input-container class="full-width">
        <input mdInput placeholder="Wachtwoord">
      </md-input-container>

    </p>

    <p>
      <md-select placeholder="Rol">
        <md-option *ngFor="let rol of rollen" [value]="rol.value">
          {{ rol.viewValue }}
        </md-option>
      </md-select>
    </p>

    <p>
      <button md-raised-button type="submit">Opslaan</button>
    </p>
  </form>
</div>