<h1 *ngIf="!root">Taxon bekijken</h1>
<h1 *ngIf="root">Taxon: {{root.name}}</h1>

<!-- ToDo: handle errors nicely -->
<md-card *ngIf="state=='error'" [@mainCardAnim] (@mainCardAnim.done)="mainCardAnimDone($event)">
	<md-card-title>Error</md-card-title>
	<md-card-content>{{errors|json}}</md-card-content>
</md-card>

<!-- Loading card -->
<md-card *ngIf="state=='loading'" [@mainCardAnim] (@mainCardAnim.done)="mainCardAnimDone($event)">
	<md-card-title>Laden...</md-card-title>
	<md-card-content>
		<md-spinner></md-spinner>
	</md-card-content>
</md-card>

<!-- Ready -->
<div *ngIf="state=='ready'" [@mainCardAnim] (@mainCardAnim.done)="mainCardAnimDone($event)">
	<!-- Family tree -->
	<md-card>
		<md-card-title>Taxon familie</md-card-title>
		<md-card-content>
			<app-taxon-tree [groups]="groups" [levels]="levels" [taxonIds]="taxonIds" [root]="root" [showAncestors]="true" [showDescendants]="true"></app-taxon-tree>
		</md-card-content>
	</md-card>
	
	<!-- WEW-info -->
	<md-card>
		<md-card-title>WEW gegevens</md-card-title>
		<md-card-content *ngIf="wewValues.size==0">
			Er zijn geen WEW waardes bekend voor {{root.name}}
		</md-card-content>
		<md-card-content *ngIf="wewValues.size>0">
			ToDo: wew gegevens in staaf grafiek komt hier
		</md-card-content>
	</md-card>
</div>
