<h1 *ngIf="!root">Taxon bekijken</h1>
<h1 *ngIf="root">Taxon: {{root.name}}</h1>

<!-- ToDo: handle errors nicely -->
<md-card *ngIf="state=='error'" [@mainCardAnim] (@mainCardAnim.done)="mainCardAnimDone($event)">
	<md-card-title>Error</md-card-title>
	<md-card-content>{{errors|json}}</md-card-content>
</md-card>

<!-- Loading card -->
<md-card *ngIf="state=='loading'" [@mainCardAnim] (@mainCardAnim.done)="mainCardAnimDone($event)">
	<md-card-title>Laden...</md-card-title>
	<md-card-content>
		<md-spinner></md-spinner>
	</md-card-content>
</md-card>

<!-- Ready -->
<div *ngIf="state=='ready'" [@mainCardAnim] (@mainCardAnim.done)="mainCardAnimDone($event)">
	<!-- Family tree -->
	<md-card>
		<md-card-title>
			<span *ngIf="rootGroup && rootGroup.icon">
				<md-icon class="taxon-icon" fontSet="fi" [fontIcon]="'flaticon-'+rootGroup.icon"></md-icon>
			</span>
			Taxon familie
		</md-card-title>
		<md-card-content>
			<app-taxon-tree [groups]="groups" [levels]="levels" [taxonIds]="taxonIds" [root]="root" [showAncestors]="true" [showDescendants]="true"></app-taxon-tree>
		</md-card-content>
	</md-card>
	
	<!-- WEW-info -->
	<md-card>
		<md-card-title>WEW gegevens</md-card-title>
		<md-card-content>
			<app-wew-bar-chart *ngIf="wewConfig" [config]="wewConfig"></app-wew-bar-chart>
			<md-spinner *ngIf="!wewConfig"></md-spinner>
		</md-card-content>
	</md-card>
</div>
