.treenode{
	font-family:monospace;
}

.treeNode>ul{display:none;}
.treeNode.expanded>ul{display:block;}

.expanded{margin:0 2px;}
.expanded.hasChildren.hasSiblings{margin-top:15px;}
.expanded.onePlusChild{margin-bottom:15px;}

.preExpBtn{
	display:inline-block;
	width:20px;
	padding:0 5px;
	font-weight:bold;
	font-family:monospace;
	color:#666;
	cursor:pointer;
}

.expBtn{display:none;}
.hasChildren>.preExpBtn>.expBtn{display:inline;}

.hasChildren>.preExpBtn>.expBtn:before{content:'[+]';}
.hasChildren.expanded>.preExpBtn>.expBtn:before{content:'[-]';}

.refer{display:none;}
.isRefer>.refer{display:inline;font-weight:bold;}
