<div class="treeNode" [ngClass]="{
		expanded:taxon.expanded,
		hasChildren:taxon.children && taxon.children.length,
		onePlusChild:taxon.children && taxon.children.length>1,
		hasSiblings:taxon.parentObject && taxon.parentObject.children.length>1,
		isRefer:taxon.isRefer
	}">
	<span class="preExpBtn">
		<span class='expBtn' (click)="toggleExpand()"></span>
	</span>
	<span class="refer">⤷ Referred to by: </span><b>{{taxon.taxonname}}</b> (<i>{{taxon.taxonlevel}}</i>, {{taxon.nlGroup}})
	<ul *ngIf="taxon.children && taxon.children.length">
		<li *ngFor="let child of taxon.children">
			<app-taxon-import-tree [taxon]="child" [depth]="depth+1"></app-taxon-import-tree>
		</li>
	</ul>
</div>
