<div class="container">
	<h1>Importeer WEW-lijst</h1>
	
	<!-- ToDo: handle errors nicely -->
	<md-card *ngIf="state=='error'" [@mainCardAnim] (@mainCardAnim.done)="mainCardAnimDone($event)">
		<md-card-title>Error</md-card-title>
		<md-card-content>{{errors|json}}</md-card-content>
	</md-card>
	
	<!-- Loading card -->
	<md-card *ngIf="state=='loading'" [@mainCardAnim] (@mainCardAnim.done)="mainCardAnimDone($event)">
		<md-card-title>Laden...</md-card-title>
		<md-card-content>
			<md-spinner></md-spinner>
		</md-card-content>
	</md-card>
	
	<!-- Start, show file input -->
	<md-card *ngIf="state=='start'" [@mainCardAnim] (@mainCardAnim.done)="mainCardAnimDone($event)">
		<md-card-title>Upload WEW soortenlijst (XLS)</md-card-title>
		<md-card-content>
			<input type="file" (change)="fileChange($event)"/>
		</md-card-content>
	</md-card>
</div>
